.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width:1160px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #1E90FF;
}

h1{
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boxlink {
  box-shadow:2px 2px 4px grey;
  border: 2px dashed #47C19C;
	text-shadow: 1px 1px #E3D5D5;
	padding: 10px;
	text-align: center;
	font-size: larger;
}

ul
{
list-style-type: none;
}

slide2 {
  width: 500px;
  overflow: hidden;
}

#slide2 img {
  transition: all .25s;
}

#slide2:hover img {
  transform: rotate(360deg);
}
